<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <title>Меню</title>
</head>

<body style="background-color:rgb(0, 103, 176)">
<nav style="text-align:center;margin-top: 250px">
    <div class="menu" style="color:white;text-align:center">Меню</div>
    <ul>
        <li><a href="pusk" style="color:white">ПУСК (файл)</a></li>
        <li><a href="pusk_one" style="color:white">ПУСК (ИНН)</a></li>
        <li><a href="affel" style="color:white">Аффилированность</a></li>
        <li><a href="ovk" style="color:white">Анализ транспортных схем</a></li>
        <li><a href="wh" style="color:white">Мотивация ОД</a></li>
    </ul>
</nav>

</body>